.container {
}
.title {
}
.goods-slider {
}
.goods-slider__card {
	min-height: 57vh;
	width: 18vw;
	border: 3px solid purple;
}
.stiker {
}
.new {
}
.category {
}
.goods {
}
.price {
}
.add_to_cart {
}
